autocreate= 
seed=
worldname=
difficulty= 
maxplayers= 
port=
password=
motd=
worldpath=
banlist=
secure= 
language=
# en
# de
# it
# fr
# es
# ru
# zh
# pt
# pl
upnp= 
npcstream= 
priority= 
journeypermission_time_setfrozen=
journeypermission_time_setdawn=
journeypermission_time_setnoon=
journeypermission_time_setdusk=
journeypermission_time_setmidnight=
journeypermission_godmode=
journeypermission_wind_setstrength=
journeypermission_rain_setstrength=
journeypermission_time_setspeed=
journeypermission_rain_setfrozen=
journeypermission_wind_setfrozen=
journeypermission_increaseplacementrange=
journeypermission_setdifficulty=
journeypermission_biomespread_setfrozen=
journeypermission_setspawnrate=
